@import "color";

@keyframes zoom_1 {
    0% {
      font-size: 70px;
    }
    25% {
      font-size: 100px;
    }
    50% {
      font-size: 70px;
    }
    75% {
      font-size: 70px;
    }
    100% {
      font-size: 70px;
    }
}
@keyframes zoom_2 {
    0% {
      font-size: 70px;
    }
    25% {
      font-size: 70px;
    }
    50% {
      font-size: 100px;
    }
    75% {
      font-size: 70px;
    }
    100% {
      font-size: 70px;
    }
}
@keyframes zoom_3 {
    0% {
      font-size: 70px;
    }
    25% {
      font-size: 70px;
    }
    50% {
      font-size: 70px;
    }
    75% {
      font-size: 100px;
    }
    100% {
      font-size: 70px;
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
}

//TODO ADD OR DELETE
  
/*@keyframes flash {
    0% {
      color: violet;
      text-shadow: 0 0 7px violet;
    }
    50% {
      color: purple;
      text-shadow: none;
    }
    100% {
      color: violet;
      text-shadow: 0 0 7px violet;
    }
}*/
  
.text_load {
  
    display: flex;
  
    flex-direction: row;
  
    color: $color-black;
  
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 10px;

    animation: opacity 3s linear infinite;
  
}
  
.text_load:nth-child(1) {
    animation-delay: 0.1s;
}
.text_load:nth-child(2) {
    animation-delay: 0.2s;
}
.text_load:nth-child(3) {
    animation-delay: 0.3s;
}
.text_load:nth-child(4) {
    animation-delay: 0.4s;
}
.text_load:nth-child(5) {
    animation-delay: 0.5s;
}
.text_load:nth-child(6) {
    animation-delay: 0.6s;
}
.text_load:nth-child(7) {
    animation-delay: 0.7s;
}
.text_load:nth-child(8) {
    animation-delay: 0.8s;
}
.text_load:nth-child(9) {
    animation-delay: 0.9s;
}
.text_load:nth-child(10) {
    animation-delay: 1.0s;
}
.text_load:nth-child(11) {
    animation-delay: 1.1s;
}
.text_load:nth-child(12) {
    animation-delay: 1.2s;
}
  
.load_1 {
    animation: zoom_1 2.5s linear infinite;
}
.load_2 {
    animation: zoom_2 2.5s linear infinite;
}
.load_3 {
    animation: zoom_3 2.5s linear infinite;
}

#wait {
  
    display: flex;

    position: absolute;
  
    color: $color-black;

    top: 600px;
    right: 800px;
  
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 3px;
  
}
  
#loader {
    position : fixed;
    z-index: 9999;
    background-color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100%;
    width : 100%;
    flex-direction: column;
}