<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock %}</title>

        <meta name="theme-color" content="#ff0000">

        <link rel="image_src" href="/images/icon.png">

        <meta name="description" content="Site de la UnderWaio.">

        <link rel="icon" type="image/png" href="/images/icon.png"/>

        <link rel="stylesheet" href="/stylesheets/normalize.css"/>

        <script src="/javascripts/Loading.js"></script>

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body onload="isLoaded()">
        {% block body %}{% endblock %}
    </body>
</html>