<nav>
    <h1 class="title">UnderWaio</h1>
    <ul>
        <li class="home"><a href="/">Accueil</a></li>
        <li class="news"><a href="/news">Nouveauté</a></li>
        <li class="recruitment"><a href="/recrutement">Recrutement</a></li>
        <li class="members"><a href="/members">Membres</a></li>
        <li class="login"><a href="/login">Login</a></li>
    </ul>
</nav>